body {
  background-color: #F2E2C4;
}

nav{
  padding-right: 8%;
  font-family: 'Manjari', sans-serif;
  font-weight: bold;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #698C7C;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

nav ul {
    display: none;
}

h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align:center;
    font-size: 42px;
}

h2, h4{
  font-family: 'Manjari', sans-serif;
  color:#012626;
}

#container{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    grid-template-areas:
        ". a a ."
        "b b b b"
        "c c c c"
        "d d d d "
        "e e e e ";
    grid-gap: 20px;
}

h1{
  grid-area: a;
}

#intro{
  grid-area: b;
}


#profile img{
  border: none;
}


#nav-box{
  background-color: #BEBFA8;
  grid-area: c;
}

#nav {
    padding: 0px;
    margin: 0px;
	  list-style-type: none;
    display: flex;
    flex-direction:column;
}


#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #BEBFA8;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: 'PT Serif', serif;
    color:#012626;
}

#nav a:hover, #nav a:active {
    background-color: #698C7C;
}

#main {
  font-family: 'Manjari', sans-serif;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 16px;
  color: #012626;
  grid-area: d;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "aa"
          "bb"
          "cc"
          "dd"
          "ee";
  grid-gap: 20px;
}

#content{
 grid-area:aa;
}

#content-1{
  grid-area:bb;
}

#content-2{
  grid-area:cc;
}

#content-3{
  grid-area:dd;
}
h4 {
  grid-area:ee;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

p a:link, p a:visited{
  text-decoration:none;
  color: #698C7C;
}

p a:hover{
 color:#01403A;
}


#footer {
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    border-top: 1px solid black;
    margin-top: 10px;
    grid-area: e;
  }

@media screen and (min-width:600px) {
  nav ul {
      display: flex;
  }

  nav ul li {
      border-top: none;
  }

  .menu-trigger {
      display: none;
  }

  header h1 {
      order: 1;
  }

  nav {
      order: 2;
  }

  #container{
      width: 80%;
      margin: 0 auto;
  }

  #intro{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
  }

  #nav {
      flex-direction: row;
      justify-content:flex-end;
  }

  #intro-detail{
    width:48%;
  }

  #profile img{
    width:240px;
  }

  #main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    grid-template-areas:
            "aa aa aa"
            "bb cc dd"
            "ee . .";
    grid-gap: 20px;
}

  img{
  width: 100%;
}


@media screen and (min-width:800px){
  #container{
      width: 75%;}

  #intro-detail{
    width:48%;
  }

  #profile img{
    width:300px;
  }
}



@media screen and (min-width:1200px){
  #container{
    width:900px;
  }

}
