body {background-color: #F2E2C4;}

h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align:center;
    font-size: 42px;
}

h2,h4{
  font-family: 'Manjari', sans-serif;
  color:#012626;
}

#container{
    width: 85%;
    margin: 0 auto;
}

#intro{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}


#profile {
  border: none;
}
#nav-box{
  background-color: #BEBFA8;}

#nav {
    padding: 0;
	  list-style-type: none;
    display: flex;
    flex-direction:column;
}

#nav li {
    margin: 0;
    padding: 0;
	  border: 1px solid #ccc;

}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #BEBFA8;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'PT Serif', serif;
    color:#012626;
}

#nav a:hover, #nav a:active {
    background-color: #698C7C;
}

#main {
  font-family: 'Manjari', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #012626;
}

p a:link, p a:visited{
  text-decoration:none;
  color: #698C7C;
}

p a:hover{
 color:#01403A;
}

#footer {
    color: black;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    border-top: 1px solid black;
    margin-top: 10%;
  }

@media screen and (min-width:600px) {
  #container{
      width: 80%;
      margin: 0 auto;
  }

  #intro{
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
  }

  #nav {
      flex-direction: row;
      justify-content:flex-end;
  }

  #intro-detail{
    width:48%;
  }

  img{
    width:240px;
  }
}



@media screen and (min-width:800px){
  #container{
      width: 75%;}

  #intro-detail{
    width:48%;
  }
  img{
    width:300px;
  }
}

@media screen and (min-width:1200px){
  #container{
    width:900px;
  }

}
