body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E3E2DC;
}


header {
  color:white;
  background-color: #3F4D45;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: flex-start;
}

#name {
  font-size: 36px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: bold;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 0px;
}

#name a:link, #name a:visited, #name a:hover{
 text-decoration: none;
 color:white;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
    padding-top: 5px;
}

nav ul {
    display: none;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding-left: 40px;
}

nav ul li {
    display: block;
    padding: 10px;
}

nav{
  font-family: 'Manjari', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

nav ul li {
    display: block;
}

#work {
    margin:0 auto;
    width: 70%;
    padding:10px;
}


.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
  margin:8px;
  padding: 12px;
  border-radius: 1%;
}

.hvrbox img {
	max-width: 100%;
  border-radius: 1%;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #35403A;
	color: #fff;
	padding: 10px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 0.8;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
  line-height: 1.8em;
  font-weight: bold;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

#destinations{
  width: 65%;
  margin:0 auto;
  display: none;
}

#destinations ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px;
  font-weight: bold;
  padding-left: 0px;
  margin-bottom: 0px;
}


#destinations a {
    color: #3F4D45;
    text-decoration: none;
}

#destinations  a:hover{
  text-decoration:underline;
}

#destinations ul li {
    display: block;
    padding:0px 10px;
    color: #3F4D45;
}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #3F4D45;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



footer{
    color: white;
    font-size: 14px;
    margin: -10px;
    color:white;
    background-color: #3F4D45;
    text-align: center;
  }

footer p{
  padding:5px;
  line-height: 1.5em;
}

  p a:link, p a:visited{
    text-decoration:none;
    color: white;
  }

  p a:hover{
   text-decoration: underline;
  }

  #intro{
    margin:0 auto;
    padding:20px;
  }

  #intro img{
    border-radius: 50%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }


  #intro-detail p {
    line-height: 1.8em;
  }



@media screen and (min-width:600px) {


  #nav{
      flex-direction: row;
      align-items: flex-start;
  }

  #name{
    padding-right: 74px;
  }

  nav ul {
      display: flex;
      margin: 0px;
      padding-top: 20px;
  }

  nav ul li {
      border-top: none;
      padding-bottom: 0px;

  }

  nav a {
      padding-left: 0px;
      padding-right: 30px;
  }


  .menu-trigger {
      display: none;
  }

  header h1 {
      order: 1;
  }

  nav {
      order: 2;
  }

  #menu{
    display:block;
  }

  #work {
      margin:0 auto;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items:stretch;
      grid-gap: 40px;
  }

  #destinations{
    width: 65%;
    margin:0 auto;
    display:block;
  }


  #intro {
      margin:0 auto;
      width: 70%;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      align-items: stretch;
      justify-content:space-around;
      grid-gap: 30px;
  }



}
